.idea
.DS_Store
.svn
*.sublime-project
*.sublime-workspace
__pycache__
.coverage
.angular
.venv*
uploads
ecienv
.env
.botenv
.prettierrc
venv
test_server.py
.hypothesis/unicode_data/13.0.0/charmap.json.gz
extensions/*
!extensions/readme.md
database/selenium-dev.db